body {
    background-color: #120525;
}

.name {
    font-family: 'Fira Mono', monospace;
    color: #FFF
    padding-left: 50px;
}

.quote {
    font-family: 'Fira Sans', sans-serif;
    color: #FFF
    padding-left: 50px;
}
