body {
    background-color: #120525;
}

.container {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding-top: 9vh;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    padding: 0 20px;
    font-family: 'Fira Mono', monospace;
    color: #FFF;
    font-size: 1.5vw;
}

#header {
    background-color: #120525;
    width: 100vw;
    height: 20vh;
    padding-top: 1px
}

#menu-holder {
    height: 20vh;
    float: right
}

.menu-item-one {
    font-family: 'Fira Mono', monospace;
    color: #FFF;
    padding-top: 8vh;
    font-size: 1.5vw;
}

.name {
    font-family: 'Fira Mono', monospace;
    color: #FFF;
    padding-left: 12vw;
    padding-top: 8vh;
    font-size: 2vw;
}

.quote {
    font-family: 'Fira Sans', sans-serif;
    color: #FFF;
    padding-left: 12vw;
    font-size: 1.75vw;
    width: auto;
}

span {
    position: relative;
    display: block;
    cursor: pointer;
}

span:before,
span:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    top: 50%;
    margin-top: -0.5px;
    background: #fff;
}

span:before {
    left: -2.5px;
}

span:after {
    right: 2.5px;
    background: #fff;
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

span:hover:before {
    background: #fff;
    width: 100%;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

span:hover:after {
    background: transparent;
    width: 100%;
    transition: 0s;
}

@media screen and (max-width: 768px) {
		#menu {
			width:1.4em;
			display: block;
			background:#ddd;
			font-size:1.35em;
			text-align: center;
		}
		#nav.js {
			display: none;
		}
		ul {
			width:100%;
		}
		li {
			width:100%;
			border-right:none;
		}
	}
	@media screen and (min-width: 768px) {
		#menu {
			display: none;
		}
	}