#main_section {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom right, a18cd1, fbc2eb)
}


/* Landscape phone to portrait tablet */

@media (max-width: 767px) {
    .name {
        font-family: 'Fira Mono', monospace;
        color: #FFF;
        padding-left: 12vw;
        padding-top: 8vh;
        font-size: 4vw;
    }
    .quote {
        font-family: 'Fira Sans', sans-serif;
        color: #FFF;
        padding-left: 12vw;
        font-size: 3.75vw;
        width: auto;
    }
    li {
        padding: 0 20px;
        font-family: 'Fira Mono', monospace;
        color: #FFF;
        font-size: 3vw;
    }
    .container {
        padding-left: 9vw;
        padding-top: 2vh;
    }
}
